٠:root {
  --anim-d: .5s;
}

nav {
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, .7);
  height: 60px;
  z-index: 9999
}

ul {
  list-style: none;
}

nav ul li {
  width: calc(90% / 2);
}



.pr_img,
.sle img {
  width: 170px;
  height: 170px;
}

.slider {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.pro {
  position: relative;
  overflow: hidden;
}

.pro .card-title {
  height: 75px;
}

.pro .card-text {
  height: 100px;
  overflow: scroll
}

.cat {
  right: 0;
}

.card-body h5 {
  position: relative;
}

.card-body::after {
  content: attr(data-cat);
  position: absolute;
  top: 0;
  right: .5rem;
  padding: 10px;
  background: #0b5ed7;
  color: #fff;
  font-weight: bold;
}

.card-body h5::before {
  content: attr(data-price);
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 22px;
  font-weight: bold;
  background: rgba(0, 0, 0, .6);
  border: 3px solid #28BAF1;
  border-radius: 1rem;
  padding: 5px;
  transform: translateY(-110%)
}

.cart_items {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 350px;
}

.total::before {
  content: "Total:  ";
}

.total::after {
  content: " $";
}

.items::before {
  content: "X";
  font-weight: 200;
  padding: 5px;
  color: #fff;
  font-size: .8em;
}

.cart_item .name {
  width: calc(100% - 10px)
}

.cart_area {
  width: 350px;
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  transition: all 1s;
  height: 0;
  overflow: scroll;

}

.cart_nav {
  height: 25px;
  width: 25px;
  font-size: 16px;
}

.total_price {
  position: absolute;
  top: -70%;
  background: rgba(0, 0, 0, .6);
  width: 100px;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 767px) {
  .cart_area {
    width: 99vw;
  }
}

@media (min-width: 768px) {
  .cart_area {
    width: 550px;
  }
}

.cart_area.active {
  height: calc(100vh - 150px);
}

[disabled] {
  position: relative
}

[disabled]::after {
  content: '';
  display: inline-block;
  margin-left: 10px;
  width: 10px;
  height: 1.2em;
  border: solid darkseagreen;
  border-width: 0 4px 4px 0;
  transform: rotateZ(35deg);


}

.cart_img {
  width: 70px;
  height: 70px;
}

.loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #324D5F;
  opacity: .4;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader div {
  width: 100px;
  height: 100px;
  margin: auto;
  position: relative;
  animation: par 2s infinite linear;
}

.loader span {
  display: block;
  height: 60px;
  width: 60px;
  border: 5px solid #fff;
  position: absolute;
  border-radius: 50%;
}

.loader span:nth-of-type(1) {
  top: 0;
  left: 0;
}

.loader span:nth-of-type(2) {
  top: 0;
  right: 0;
}

.loader span:nth-of-type(3) {
  bottom: 0;
  left: 0;
}

.loader span:nth-of-type(4) {
  bottom: 0;
  right: 0;
}

@keyframes par {
  100% {
    transform: rotateZ(360deg);
  }
}